<!doctype html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<title>Mindspace Web | {% block title %}Index{% endblock %}</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
{% block head %}{% endblock %}
</head>
<body>
<h1>{% block header %}Welcome to Mindspace{% endblock %}</h1>
<div role="navigation">
<details>
<summary>Menu&darr;</summary>
<ul role="menu">
<li role="menuitem"><a href="/">Home</a></li>
<li role="menuitem"><a href="/credits/">Credits</a></li>
<li role="menuitem"><a href="/client/">Web Client</a></li>
<li role="menuitem"><a href="/rules/">Rules</a></li>
<li role="menuitem"><a href="/ideas">Ideas</a></li>
<li role="menuitem"><a href="/statistics">Server Statistics</a></li>
<li role="menuitem"><a href="/help/">Help</a></li>
<li role="menuitem"><a href="/login">Login</a></li>
</ul>
</details>
</div>
<hr>
<div role="main" class="container-fluid">
{% block body %}
<p>Please choose an entry from the menu above to get started.</p>
{% endblock %}
</div>
<hr>
<div role="contentinfo">
<p>Powered by Klein version {{ klein_version }}, running under Python {{ python_version }}.</p>
<p>Copyright (c) forever by Chris Norman.</p>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>
