<!doctype html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<title>Mindspace Web | {% block title %}Index{% endblock %}</title>
{% block head %}{% endblock %}
</head>
<body>
<h1>{% block header %}Welcome to Mindspace{% endblock %}</h1>
<div role="navigation">
<details>
<summary>Menu&darr;</summary>
<ul role="menu">
<li role="menuitem"><a href="/">Home</a></li>
<li role="menuitem"><a href="/credits/">Credits</a></li>
<li role="menuitem"><a href="/client/">Web Client</a></li>
<li role="menuitem"><a href="/rules/">Rules</a></li>
<li role="menuitem"><a href="/ideas">Ideas</a></li>
<li role="menuitem"><a href="/statistics">Server Statistics</a></li>
<li role="menuitem"><a href="/help/">Help</a></li>
<li role="menuitem"><a href="/login">Login</a></li>
</ul>
</details>
</div>
<hr>
<div role="main" class="container-fluid">
{% block body %}
<p>Please choose an entry from the menu above to get started.</p>
{% endblock %}
</div>
<hr>
<div role="contentinfo">
<p>Powered by Klein version {{ klein_version }}, running under Python {{ python_version }}.</p>
<p>Copyright (c) forever by Chris Norman.</p>
</div>
</body>
</html>
