{% extends 'base.html' %}
{% block title %}Client{% endblock %}
{% block header %}Mindspace Web Client{% endblock %}
{% block body %}
<div id="connect">
<h2>Connect</h2>
<form id="connect-form">
<p>Hostname: <input id="hostname" type="text" value="code-metropolis.com"></p>
<p>Port: <input id="port" type="number" min=1 max=65535 value=6465></p>
<p>Web Port: <input id="web_port" type="number" min=1 max=65535 value=6464></p>
<p>Username: <input id="username" type="text"></p>
<p>Password: <input id="password" type="password"></p>
<p><input type="submit" value="Connect"></p>
</form>
</div>
<div class="hidden" id="game">
<p><a class="hidden" id="url" target="_blank">No URL yet</a></p>
<div class="hidden" id="menu">
<p><input type="button" id="menu-hide" value="Close"></p>
<h2 aria-live="polite" id="menu-h">No Menu Yet</h2>
<p id="menu-p"></p>
</div>
<div class="hidden" id="text">
<p><input type="button" id="text-cancel" value="Cancel"></p>
<h2 aria-live="polite" id="text-h">Client doesn't want text yet</h2>
<form id="text-form">
<p><span id="text-label">Text</span>: <span id="text-field"></span></p>
<p><input type="submit" id="text-ok"></p>
</form>
</div>
<div class="hidden" id="form">
<p><input type="button" id="form-hide" value="Cancel"></p>
<h2 aria-live="polite" id="form-h">No Menu Yet</h2>
<form id="form-form">
<p id="form-p"></p>
<p><input id="form-ok" type="button" value="OK"></p>
</div>
<div role="log" aria-live="polite" id="output"></div>
<p><input type="button" id="disconnect" value="Disconnect"></p>
</div>

<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="/static/js/client.js?{{ stamp }}"></script>
{% endblock %}
