{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="/static/css/client.css">
{% endblock %}
{% block title %}Client{% endblock %}
{% block header %}Mindspace Web Client{% endblock %}
{% block body %}
<div id="connect">
<h2>Login</h2>
<form id="connect-form">
<p>Username: <input id="username" type="text"></p>
<p>Password: <input id="password" type="password"></p>
<p><input type="submit" value="Connect"></p>
</form>
</div>
<div class="hidden" id="game">
<div id="output" aria-live="assertive"></div>
<p><input type="button" id="disconnect" value="Disconnect"> <input type="button" id="hide-keyboard" value="Hide Keyboard"></p>
<p><a class="hidden" id="url" target="_blank">No URL yet</a></p>
</div>
<div class="hidden" id="copy">
<h2 id="copy-h">Copy Text</h2>
<p>
<textarea id="copy-text"></textarea>
<input id="copy-button" type="button" value="Copy">
</p>
</div>
<div class="hidden" id="menu">
<p><input type="button" id="menu-hide" value="Close"></p>
<h2 aria-live="assertive" id="menu-h">No Menu Yet</h2>
<ul role="menu" id="menu-ul" title="Menu"></ul>
</div>
<div class="hidden" id="text">
<p><input type="button" id="text-cancel" value="Cancel"></p>
<h2 id="text-h">Enter Text</h2>
<form id="text-form">
<p aria-live="assertive"><label><span id="text-label">Text</span>: <span id="text-field"></span></label></p>
<p><input type="submit" id="text-ok"></p>
</form>
</div>
<div class="hidden" id="form">
<p><input type="button" id="form-hide" value="Cancel"></p>
<h2 aria-live="assertive" id="form-h">No Form Yet</h2>
<form id="form-form">
<p id="form-p"></p>
<p><input id="form-ok" type="submit" value="OK"></p>
</form>
</div>
<table id="keyboard">
</table>

<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="http://reverbjs.org/reverb.js"></script>
<script src="/static/js/client.js?{{ stamp }}"></script>
{% endblock %}
