<div class="row">
<div class="col-sm-1">
<input type="button" class="key" value="F1">
</div>
<div class="col-sm-1">
<input type="button" class="key" value="F2">
</div>
<div class="col-sm-1">
<input type="button" class="key" value="F3">
</div>
<div class="col-sm-1">
<input type="button" class="key" value="F4">
</div>
<div class="col-sm-1">
<input type="button" class="key" value="F5">
</div>
<div class="col-sm-1">
<input type="button" class="key" value="F6">
</div>
<div class="col-sm-1">
<input type="button" class="key" value="F7">
</div>
<div class="col-sm-1">
<input type="button" class="key" value="F8">
</div>
<div class="col-sm-1">
<input type="button" class="key" value="F9">
</div>
<div class="col-sm-1">
<input type="button" class="key" value="F10">
</div>
<div class="col-sm-1">
<input type="button" class="key" value="F11">
</div>
<div class="col-sm-1">
<input type="button" class="key" value="F12">
</div>
</div>
<div class="row">
<div class="col-sm-1">
<input type="button" class="key" value="1">
</div>
<div class="col-sm-1">
<input type="button" class="key" value="2">
</div>
<div class="col-sm-1">
<input type="button" class="key" value="3">
</div>
<div class="col-sm-1">
<input type="button" class="key" value="4">
</div>
<div class="col-sm-1">
<input type="button" class="key" value="5">
</div>
<div class="col-sm-1">
<input type="button" class="key" value="6">
</div>
<div class="col-sm-1">
<input type="button" class="key" value="7">
</div>
<div class="col-sm-1">
<input type="button" class="key" value="8">
</div>
<div class="col-sm-1">
<input type="button" class="key" value="9">
</div>
<div class="col-sm-1">
<input type="button" class="key" value="0">
</div>
<div class="col-sm-1">
<input type="button" class="key" value="-">
</div>
<div class="col-sm-1">
<input type="button" class="key" value="=">
</div>
</div>
<div class="row">
<div class="col-sm-1">
<input type="button" class="key" value="Q">
</div>
<div class="col-sm-1">
<input type="button" class="key" value="W">
</div>
<div class="col-sm-1">
<input type="button" class="key" value="E">
</div>
<div class="col-sm-1">
<input type="button" class="key" value="R">
</div>
<div class="col-sm-1">
<input type="button" class="key" value="T">
</div>
<div class="col-sm-1">
<input type="button" class="key" value="Y">
</div>
<div class="col-sm-1">
<input type="button" class="key" value="U">
</div>
<div class="col-sm-1">
<input type="button" class="key" value="I">
</div>
<div class="col-sm-1">
<input type="button" class="key" value="O">
</div>
<div class="col-sm-1">
<input type="button" class="key" value="P">
</div>
<div class="col-sm-1">
<input type="button" class="key" value="[">
</div>
<div class="col-sm-1">
<input type="button" class="key" value="]">
</div>
</div>
<div class="row">
<div class="col-sm-1">
<input type="button" class="key" value="A">
</div>
<div class="col-sm-1">
<input type="button" class="key" value="S">
</div>
<div class="col-sm-1">
<input type="button" class="key" value="D">
</div>
<div class="col-sm-1">
<input type="button" class="key" value="F">
</div>
<div class="col-sm-1">
<input type="button" class="key" value="G">
</div>
<div class="col-sm-1">
<input type="button" class="key" value="H">
</div>
<div class="col-sm-1">
<input type="button" class="key" value="J">
</div>
<div class="col-sm-1">
<input type="button" class="key" value="K">
</div>
<div class="col-sm-1">
<input type="button" class="key" value="L">
</div>
<div class="col-sm-1">
<input type="button" class="key" value=";">
</div>
<div class="col-sm-1">
<input type="button" class="key" value="'">
</div>
<div class="col-sm-1">
<input type="button" class="key" value="#">
</div>
</div>
<div class="row">
<div class="col-sm-1">
<input type="button" class="key" value="TAB">
</div>
<div class="col-sm-1">
<input type="button" class="key" value="\">
</div>
<div class="col-sm-1">
<input type="button" class="key" value="Z">
</div>
<div class="col-sm-1">
<input type="button" class="key" value="X">
</div>
<div class="col-sm-1">
<input type="button" class="key" value="C">
</div>
<div class="col-sm-1">
<input type="button" class="key" value="V">
</div>
<div class="col-sm-1">
<input type="button" class="key" value="B">
</div>
<div class="col-sm-1">
<input type="button" class="key" value="N">
</div>
<div class="col-sm-1">
<input type="button" class="key" value="M">
</div>
<div class="col-sm-1">
<input type="button" class="key" value=",">
</div>
<div class="col-sm-1">
<input type="checkbox" class="modifier" value="">
</div>
<div class="col-sm-1">
<input type="button" class="key" value="/">
</div>
</div>
<div class="row">
<div class="col-sm-1">
<input type="checkbox" class="modifier" value="CTRL">
</div>
<div class="col-sm-1">
<input type="checkbox" class="modifier" value="SHIFT">
</div>
<div class="col-sm-1">
<input type="checkbox" class="modifier" value="ALT">
</div>
<div class="col-sm-1">
<input type="button" class="key" value="BACKSPACE">
</div>
<div class="col-sm-1">
<input type="button" class="key" value="DELETE">
</div>
<div class="col-sm-1">
<input type="button" class="key" value="SPACE">
</div>
<div class="col-sm-1">
<input type="button" class="key" value="ENTER">
</div>
<div class="col-sm-1">
<input type="button" class="key" value="`">
</div>
<div class="col-sm-1">
<input type="button" class="key" value="ESCAPE">
</div>
<div class="col-sm-1">
<input type="button" class="key" value="HOME">
</div>
<div class="col-sm-1">
<input type="button" class="key" value="END">
</div>
<div class="col-sm-1">
<input type="button" class="key" value="">
</div>
</div>
